Package: securewave-vpn
Version: 4.0.0+1
Section: net
Priority: optional
Architecture: arm64
Depends: wireguard-tools, openvpn, network-manager, network-manager-strongswan, strongswan, strongswan-swanctl, strongswan-charon, libcharon-extra-plugins, libstrongswan-extra-plugins, iproute2, iptables, acl, systemd
Maintainer: SecureWave Release <release@securewave.app>
Description: SecureWave VPN desktop client
